<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729841884571-otmdulmolcnkdfsrhi9pdbsroq6rihva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729841884571-otmdulmolcnkdfsrhi9pdbsroq6rihva</string>
	<key>API_KEY</key>
	<string>AIzaSyAs8BkmVCfzEbY9Qs0EVvV4YKiuWaP2Wg8</string>
	<key>GCM_SENDER_ID</key>
	<string>729841884571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ExomindOpenclassrooms.FosterApp</string>
	<key>PROJECT_ID</key>
	<string>fosterapp-2337d</string>
	<key>STORAGE_BUCKET</key>
	<string>fosterapp-2337d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729841884571:ios:85d3f8a9d29d7f5cfe553e</string>
</dict>
</plist>